<div>
  <%= render "table" %>
</div>
<div>
<h3>save a new url</h3>
<%= form_for @url do |f|%>
  <%= f.label :long_url, "long url", class: "form-label" %><br>
  <%= f.text_field :long_url, class: "form-input", placeholder: "long url here" %><br>
  <%= f.submit "save url", class: "form-button" %>
<%end%>
</div>