<!DOCTYPE html>
<html>
<head>
  <title>tiny app</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="folder">
    <%= image_tag "folder.png" %>
    <p>dog pics</p>
  </div>

  <main class="app-container">
    <%= render "header" %>
    <section class="content-container">
      <%= yield %>
    <section>
  </main>

</body>
</html>
